[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-ldap = "*"
ldappool = "*"
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
ciso8601 = "*"
aio-pika = "*"
loguru = "*"
pygments = "*"
pandas = "*"
numpy = "*"
python-dateutil = "*"
uvloop = "*"
patio = "*"
patio-rabbitmq = "*"

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
sphinx = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-httpexample = "*"
sphinx-rtd-theme = "*"
docutils = "*"
locust = "*"

[requires]
python_version = "3.10"
