[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-ldap = "*"
ldappool = "*"
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
aio-pika = "*"
loguru = "*"
six = "*"
ciso8601 = "*"
python-dateutil = "*"
uvloop = "*"

[requires]
python_version = "3.10"
