[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-ldap = "*"
ldappool = "*"
fastapi = "*"
pydantic = "*"
aio-pika = "*"
loguru = "*"
six = "*"
pydantic-settings = "*"
uvloop = "*"
apscheduler = "*"

[requires]
python_version = "3.10"
