-i https://pypi.org/simple
ldap3
fastapi
uvicorn
gunicorn
loguru
pydantic
validators
aiohttp[speedups]
python-dateutil
websockets
asyncpg
ciso8601
pandas
numpy

#dev
pytest
requests
mock
pytest-cov
pytest-asyncio
locust
httpx
fastapi_profiler
