include conf.d/upstreams/*.conf;

# this is required to proxy Grafana Live WebSocket connections.
map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

server {
    listen ${NGINX_HTTP_PORT};
    server_name 0.0.0.0 localhost ${NGINX_HOST};

    client_max_body_size 15m;

    set $proto http;

    resolver 127.0.0.11 valid=5s;
    include conf.d/locations/*.conf;
}
